// colors
$color-logo-1: #f9cc85;
$color-logo-2: #eabb72;
$color-logo-3: #dda265;
$color-logo-4: #b47240;
$color-logo-5: #a56b59;
$color-logo-6: #6c4634;
$color-logo-7: #442b23;
$color-logo-8: #2f1e18;

$color-error: #c95858;

$color-facebook: #3b5998;

$color-green-1: #38e07c;
$color-green-2: #00a14b;
$color-green-3: #006838;

$color-1: #eddcc8;
$color-1-light: lighten($color-1, 10%);
$color-2: #d7b68e;
$color-2-2: #f5d0a4;
$color-3: #8d644e;
$color-3-2: #4b3022;

$color-4: #7f605e;
$color-5: #55353b;
$color-6: #402d33;

$color-7-light: #42a4ff;
$color-7: #2686e0;
$color-8: #064490;
$color-9: #04235a;

$color-10: #773d69;
$color-11: #4b1f3d;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;